body{
    margin: 0 0 0 0;
}

.main{
    width: 1250px;
    height: 1531px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    width: 1250px;
    height: 619px;
}

.content {
    width: 1250px; 
    height:569px;
}

.footer {
    width: 1250px;
    height: 343px;
}

.top-header {
    width: 1250px;
    height: 132px;
    background-image: url(header-top.png);
    position: absolute;
    top: -25px;
}

.top-content {
    width: 980px;
    height: 90px;
    padding-right: 135px;
    padding-left: 135px;
    background-color: #464646;
}

.top-footer {
    width: 1250px;
    height: 299px;
    background-image: url(footer-top.png);
}

.bottom-footer {
    width: 1250px;
    height: 44px;
    background-color: #22272f;
}

.menu-header {
    width: 980px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    top: 82px; 
    left: 135px; 
    z-index: 5;
    background-color: #cedae8;
    
}

.bottom-header {
    width: 1250px;
    height: 487px;
    background-image: url(bottom-header.png);
    margin-top: 41px;
}


.bottom-header-top {
    width: 878px;
    height: 120px;
    padding-left: 186px;
    padding-right: 186px;
    padding-top: 0px;
}

.bottom-header-bottom {
    width: 922px;
    height: 367px;
    padding: 0 165px 0 163px;
}

.bottom-header-top > img{
    position: relative;
    top: 56px;
}
.bhb-left {
    width: 381px;
    height: 321px;
    display: inline-block;
    float: left;
    padding-top: 46px;
}

.bhb-right {
    width: 540px;
    height: 335px;
    display: inline-block;
    float: left;
    padding-top: 45px
}

.number,.text{
    position:relative;
    top: 36px;
    left: 20px;
    font-size: 18px;
}

.number{
    margin-right: 35px;
}
.text > span{
    color: red;
}

.livehelp > img{
    float: right;
}

.lh-text{
    position: relative;
    top: 11px;
    left: 248px;
    font-size: 20px;
    color: white;
}
.text-bht {
    position: relative;
    top: 88px;
    left: 90px;
    font-size: 20px;
    color: white;
    z-index: 10;
}

.menu-header >ul{
    padding-left: 20px;
    padding-top: 15px;
}

.menu-header >ul>li{
    display: inline;
    list-style: none;
}

.menu-header >ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin: 0 18px 0 18px;
}

.menu-header >ul>li>a:hover{
    color: red;
}
.th-left {
    width: 491px;
    height: 132px;
    float: left;
    display: inline-block;
    padding-top: 25px;
    padding-left: 160px;
    font-size: 26px;
}

.th-right {
    width: 599px;
    height: 132px;
    float: left;
    display: inline-block;
    padding-top: 25px;
}
.th-right>a{
    position: relative;
    top: -60px;
    left: 214px;;
    z-index: 10;
}

.th-right>p{
    z-index: 3;
    position: relative;
    left: 200px;
}

.text-thr{
    position: relative;
    top: -68px;
    left: 233px;
    z-index: 10;
    font-size: 16px;
}

.mail-thr{
    position: relative;
    top: -87px;
    left: 420px;
    z-index: 10;
}

.th-left>p>span{
    font-family: sans-serif;
    color: white;
}

.text-thr>a{
    text-decoration: none;
    color: white;
}

.th-left>p>a{
    text-decoration: none;
    color: #a5a5a5;
}

.th-left>p>a>span{
    color: white;
}
.tc-left {
    width: 800px;
    height: 90px;
    display: inline-block;
    float: left;
}

.tc-right {
    width: 170px;
    height: 72px;
    padding-top: 18px;
    display: inline-block;
    float: left;
}

.tcl-top {
    width: 800px;
    height: 34px;
    float: left;
    padding-top: 15px;
}

.tcl-bottom {
    width: 800px;
    height: 41px;
    float: left;
}

.tcl-top > span{
    color: white;
    font-size: 24pt;
}

.tcl-bottom > span{
    color: #bababa;
    font-size: 10pt;
}
.tcr-button {
    width: 170px;
    height: 51px;
    border-radius: 10px;
    background-color: #de1e22;  
}

.tcr-button > span{
    color: white;
    font-size: 24pt;
    position: relative;
    top: 6px;
    left: 21px;
}

.tc-right > a{
    text-decoration: none;
    color: white;
}
.bottom-content {
    width: 980px;
    height: 479px;
    padding-right: 135px;
    padding-left: 135px;
}

.bc-left {
    width: 649px;
    height: 479px;
    margin-right: 31px;
    float: left;
    display: inline-block;
}

.bc-right {
    width: 300px;
    height: 479px;
    float: left;
    display: inline-block;
}

.bcl-top {
    width: 649px;
    height: 140px;
    float: left;
}

.bcl-bottom {
    width: 649px;
    height: 339px;
    float: left;
}
