body{
    margin: 0 0 0 0;
}

.main{
    width: 1250px;
    height: 1531px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    width: 1250px;
    height: 619px;
}

.content {
    width: 1250px;
    height:569px;
}

.footer {
    width: 1250px;
    height: 343px;
}

.top-header {
    width: 1250px;
    height: 132px;
    background-image: url(header-top.png);
    position: absolute;
    top: -25px;
}

.top-content {
    width: 1250px;
    height: 90px;
    background-color: #464646;
}

.top-footer {
    width: 1250px;
    height: 299px;
    background-image: url(footer-top.png);
}

.bottom-footer {
    width: 1250px;
    height: 44px;
    background-color: #22272f;
}

.menu-header {
    width: 980px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    top: 82px; 
    left: 135px; 
    z-index: 5;
    background-color: #cedae8;
    
}

.bottom-header {
    width: 1250px;
    height: 487px;
    background-image: url(bottom-header.png);
    margin-top: 57px;
}


.bottom-header-top {
    width: 1250px;
    height: 120px;
    padding-left: 186px;
    padding-top: 64px;
}

.bottom-header-bottom {
    width: 1250px;
    height: 367px;
}
